<div class="toolbar">
  <span class="toolbar-title">NAME********</span>
  <button class="toolbar-button">Courses</button>
  <button class="toolbar-button">FAQ</button>
  <button class="toolbar-button">Login</button>
</div>

<div class="box-heading">
  <h2>Our Company</h2>
    <p>Our Mission is to create a better banking experience for those in need. </p>
</div><hgroup></hgroup>
  <h4>Learn about financial literacy:</h4>
    <div>explain what financial literacy is</div>
  <div id="header-container"></div>
  <div id="header-item">
    <img id="header-img" >
  </div>
  <button class="header-button">Button1</button>
  <link rel="icon2"> //add icon here

<label for="username">Username:</label>
<input type="text" id="username" name="username">
<label for="password">Password:</label>
<input type="text" id="password" name="password">

