<div class="navbar-container">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#Resources for Financial Literacy">Financial Literacy</a></li>
    </ul>
  </div>
  <h2>Our Company:</h2>
  <h3>majajvvnv our company is this and that</h3>
  <h4>
    Learn about financial literacy:
  </h4>
  <div>explain what financial literacy is</div>
  <div id="header-container">
  </div>
  <div id="header-item">
    <img id="header-img" >
   </div>
  </div>
  <button class="header-button">Button1</button>
  <link rel="icon2"> //add icon here

  <label for="username">Username:</label>
  <input type="text" id="username" name="username">