.background{
    background-color: antiquewhite;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
  
.label {
  margin-left: auto;
}

.toolbar {
  background-color: grey;
  padding: 16px;
  display: flex; 
  align-items: center;
}

.toolbar-title {
  margin-right: auto; /* Pushes the title to the left */
}

.toolbar-button {
  margin-right: 8px;
  padding: 8px 16px;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  background-color: lightgrey;
}
.box-heading {
  width: 100%;          /* Width of the box */
  height: 250px;         /* Height of the box */
  background-color: hsl(267, 84%, 81%); /* Background color */
  padding: 20px;
  margin: 0;          /* Space around the box */
  border-radius: 0;    /* Rounded corners */
}
.box-heading h2, .box-heading p {
  text-align: center;
  color:white;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  padding-top: 20px;               /* Adds space at the top for better alignment */
}


