<div class="navbar-container">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#Resources for Financial Literacy">Financial Literacy</a></li>
  </ul>
</div>
  <h2>Our Company:</h2>
    <p>Our Mission is to create a better banking experience for those in need. </p>
  <h4>Learn about financial literacy:</h4>
    <div>explain what financial literacy is</div>
  <div id="header-container"></div>
  <div id="header-item">
    <img id="header-img" >
  </div>
  <button class="header-button">Button1</button>
  <link rel="icon2"> //add icon here

<label for="username">Username:</label>
<input type="text" id="username" name="username">
<label for="password">Password:</label>
<input type="text" id="password" name="password">

